$font-family: "Inter", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: hsl(36, 29%, 97%);
$black: #000;

$dark-background: hsl(196, 29%, 19%);

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: hsl(196, 36%, 46%);
$danger-color: hsl(0, 58%, 55%);
$error-color: #debf72;
$confirm-color: hsl(198, 44%, 54%);

$spacing: 2rem;
